{{!-- generates each comment as a list item --}}
<li class="list-group-item">{{content}}
  <br>
  By: {{user.username}}
      {{#if loggedIn}}
    {{!-- build the js for this --}}
    {{!-- or make it an anchor and redirect to the put/delete routes in api/post --}}
    <button type="submit" class="btn btn-primary">Edit</button>
    <button type="submit" class="btn btn-primary">Delete</button>
    {{/if}}
</li>
