{{!-- create post cards that will show on the individual post --}}
{{!-- use bootstrap cards?? --}}
{{!-- this is a card with list items, each comment could be a list item? --}}
<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>