{{!-- create post cards that will show on the homepage --}}
{{!-- <div class="col"> --}}
  <div class="card border-dark text-dark bg-info shadow p-2 m-2 rounded" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{cutString content}}...</p>
      <a href="/posts/{{id}}" class="card-link">View Post</a>
      <p class="card-text">{{createdAt}}</p>
    </div>
  </div>
{{!-- </div> --}}
