{{!-- create post cards that will show on the homepage --}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{cutString content}}...</p>
    <a href="/posts/{{id}}" class="card-link">View Post</a>
    <p class="card-text">{{createdAt}}</p>
    {{#if loggedIn}}
    {{!-- build the js for this --}}
    {{!-- or make it an anchor and redirect to the put/delete routes in api/post --}}
    <button type="submit" class="btn btn-primary">Edit</button>
    <button type="submit" class="btn btn-primary">Delete</button>
    {{/if}}
  </div>
</div>
