<section class="flex-row justify-center">
  {{!-- this will need to only pull the user's post, should this be done through a helper or by the route? --}}
  <h2>My Posts</h2>
  {{#each data.post}}
  {{> post-details}}
  {{/each}}
  {{!-- add edit and delete options --}}
  <h2>My Comments</h2>
  <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      {{#each data.comments}}
      {{> comment-details}}
      {{/each}}
    </ul>
  </div>
  <form class="post-form">
    <div class="mb-3">
      <h3>Add a New Post</h3>
      <label for="postTitle" class="form-label">Title</label>
      <input type="input" class="form-control" id="postTitle">
      <label for="postInput" class="form-label">Content</label>
      <input type="input" class="form-control" id="postInput">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>
{{!-- add post.js to handle submissions --}}
<script src="/js/post.js"></script>
