{{!-- this view will show when they select a particular blog post on the main page (GET/:id) --}}
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{post.title}}</h1>
        <p>{{post.content}}</p>
        <p>By: {{post.user.username}}</p>
      </div>
      {{!-- shows comments --}}
      <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          {{#each post.comments}}
          {{> comment-details}}
          {{/each}}
        </ul>
      </div>
      {{!-- allows comment input --}}
      <form class="comment-form">
        <div class="mb-3">
          <label for="commentInput" class="form-label">Leave a Comment</label>
          <input type="input" class="form-control" id="commentInput">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</section>

<script src="/js/comment.js"></script>